@charset "UTF-8";
/* CSS Document */

/***************************************
共通
ブラウザ依存部分の初期化
***************************************/
body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,p,blockquote,th,td,a {
margin: 0;
padding: 0;
font-family: ‘ＭＳ Ｐゴシック’,Osaka,sans-serif,Arai;
font-size: 12px;
font-weight: normal;
font-style: normal;
border: none;
line-height: 1.5;
text-align: left;
text-decoration:none;
color: #444444;
}

abbr,strong,em,span,address {
margin: 0;
padding: 0;
font-size: 12px;
font-weight: normal;
font-style: normal;
border: none;
line-height: 1.5;
text-align: left;
text-decoration:none;
}

input,button,textarea select {
font-family: ‘ＭＳ Ｐゴシック’,Osaka,sans-serif,Arai;
font-size: 12px;
color: #444444;
}
dl,ul,ol {
list-style: none;
}

img {
margin: 0;
padding: 0;
border: none;
vertical-align: bottom;
}

html {
height: 100%;
margin-bottom: 1px;	 /* Opera Firefoxでスクロールバー強制表示対応 */
}

body {
font-size: 100.01%;	 /* Opera対応 */
text-align: center;	 /* IE互換モード対応*/
}

a{
color:#666677;
}

a:hover {
color: #666699;
}